body {
  margin: 0;
  font-family: "Crimson Pro", serif; /* for body*/
  /* font-family: "Almendra SC", serif;  for headers */
  background-color: #2d1f14;
  color: #dcc48e;
}

/* Accent Color: #7F4E1E */

.container {
  width: 350px;
  margin: 30px auto;
}

/* header */

.header {
  justify-content: center;
  margin-bottom: 25px;
}

h1 {
  font-family: "MedievalSharp", cursive;
}

/* Main */

main {
  margin: 10px;
}

textarea {
  display: block;
  width: 250px;
  height: 90px;
  resize: none;
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  /* text-align: center; */
  color: #dcc48e;
}

textarea:focus {
  outline: none !important;
  border: 1px solid #dcc48e;
  box-shadow: 0 0 3px #dcc48e;
}

.btn {
  text-align: center;
}

.tweet-btn {
  margin: 20px 0 40px 0;
  padding: 10px 70px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  background-color: #dcc48e;
  font-family: "Crimson Pro", serif;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Tweet Section */

h2 {
  margin: 0;
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

.tweet-meta-inner {
  justify-content: center;
  margin-bottom: 20px;
}

span {
  padding-left: 5px;
}

/* Images */

img {
  width: 50px;
}

.header-img {
  align-self: center;
}

/* Replies section */

.replies-inner {
  width: 75%;
  margin: 0 auto;
}

/* .hidden {
  display: none;
} */

/* Utility */

.flex {
  display: flex;
  gap: 13px;
}

.tweet-img {
  border-radius: 50%;
  align-self: flex-start;
  border: 1px solid black;
}

.section-line-long {
  margin-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #dcc48e;
  border-top: 1px solid #dcc48e;
}

.section-line-short {
  padding-top: 10px;
  border-top: 1px solid #dcc48e;
}

/* .cursor-pointer {
  cursor: pointer;
}  check where to put  */
