* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Crimson Pro", Georgia, serif;
  background-color: #2d1f14;
  color: #dcc48e;
}

.container {
  max-width: 350px;
  width: 90%;
  margin: 30px auto;
}

/* Typography */

h1 {
  font-family: "MedievalSharp", cursive;
}

h2 {
  font-family: "Almendra SC", serif;
  margin: 0;
  font-size: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

/* header */

.header {
  justify-content: center;
  margin-bottom: 25px;
}

/* Text input */

textarea {
  display: block;
  width: 250px;
  height: 90px;
  resize: none;
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  color: #dcc48e;
  padding: 10px;
}

textarea:focus {
  outline: none !important;
  border: 1px solid #dcc48e;
  box-shadow: 0 0 3px #dcc48e;
}

textarea::placeholder {
  color: #dcc48e;
  font-family: "Crimson Pro", Georgia, serif;
  font-size: 1.5rem;
}

.btn {
  text-align: center;
}

.tweet-btn {
  margin: 20px 0 40px 0;
  padding: 10px 70px;
  border-radius: 7px;
  border: none;
  background-color: #dcc48e;
  font-family: "Crimson Pro", Georgia, serif;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.tweet-btn:hover {
  background-color: #c5b07a;
}

/* Tweet Meta */

.tweet-meta-inner {
  justify-content: center;
  margin-bottom: 20px;
}

span {
  padding-left: 5px;
}

/* .liked {
  color: red;
} */

/* Images */

img {
  width: 50px;
}

.header-img {
  align-self: center;
}

/* Replies section */

.hidden {
  display: none;
}

.replies-inner {
  width: 75%;
  margin: 0 auto;
}

/* Utility */

.flex {
  display: flex;
  gap: 13px;
}

.tweet-img {
  border-radius: 50%;
  align-self: flex-start;
  border: 1px solid black;
}

.section-line-long {
  margin-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #dcc48e;
  border-top: 1px solid #dcc48e;
}

.section-line-short {
  padding-top: 10px;
  border-top: 1px solid #dcc48e;
}

.pointer {
  cursor: pointer;
}
