body {
  margin: 0;
  font-family: "Crimson Pro", serif; /* for body*/
  /* font-family: "Almendra SC", serif;  for headers */
}

.container {
  width: 350px;
  margin: 0 auto;
  border: 1px solid red;
}

/* header */

.header {
  justify-content: center;
}
h1 {
  font-family: "MedievalSharp", cursive;
}

.flex {
  display: flex;
  gap: 10px;
}

.input-inner {
  gap: 10px;
}

textarea {
  display: block;
  width: 260px;
  height: 106px;
  resize: none;
}

.btn {
  text-align: center;
}

.tweet-btn {
  margin: 15px 0;
  padding: 10px 50px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

img {
  width: 50px;
  border-radius: 50%;
}

.tweet-input-img {
  width: 50px;
  border-radius: 50%;
  align-self: flex-start;
}

.header-img {
  width: 50px;
  /* border-radius: none; */
  align-self: center;
}
